#list{
    /* border: 0.1px solid black; */
    background-color: #4D5452;
    /* border-radius: 10px; */
    min-height: 100%;
}
h4{
    font-size: 30px;
}
ul{
    padding-top: 50px;
}
li{
    
    list-style-type: none;
    font-size: 20px;
    padding: 14px  20px;
}

#list a{
    
    text-decoration: none;
    color: white;
    font-size: 18px;
    word-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;  
}
#list a:hover{
    color:black;
}